/* for prectice only */

h1 {
    color: white;
}

div {
    flex: 0 0 100px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

a {
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}
